* {
  text-align: center;
  margin: auto;
}

body {
  background: #e7f0d2;

  text-align: center;
  margin-top: 100px;
}

.tkmContPlayer,
.tkmContComputer {
  min-width: 300px;
  display: inline-block;
}

h2 {
  color: #37593b;
  min-width: 300px;
}

.rps {
  background-color: #9babea;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  border-radius: 50%;
  height: 70px;
  margin: 15px;
  width: 70px;
  float: left;
}
:active.rps{
  background-color: #d2ea9b;
}

.rpsComp {
  background-color: #d2ea9b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  border-radius: 50%;
  height: 270px;
  margin: 15px;
  width: 270px;
  float: left;
}

.rps:hover {
  background-size: 75%;
}

.rock {
  background-image: url("https://res.cloudinary.com/itsellej/image/upload/v1533400140/rock-paper-scissors/rock.png");
}

.paper {
  background-image: url("https://res.cloudinary.com/itsellej/image/upload/v1533400143/rock-paper-scissors/paper.png");
}

.scissor {
  background-image: url("https://res.cloudinary.com/itsellej/image/upload/v1533400144/rock-paper-scissors/scissors.png");
}

.result {
  min-height: 50px;
}
